<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimmy.dongdaedaek">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ReviewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="아코맘마"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Dongdaedaek">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Splash.theme"
            android:screenOrientation="portrait"
            android:label="아코맘마">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="dongdaedaek.page.link"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Oss" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Oss" />
        <activity android:name=".FontLicenseActivity"
            android:theme="@style/Theme.Oss"/>
    </application>

</manifest>